button {
  margin: 10px;
  width: 100px;
}
video,
canvas {
  display: block;
  width: 640px;
  height: 480px;
}
.media-container {
  width: 640px;
  height: 480px;
  position: relative;
}
.media-container > * {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.hidden {
  display: none !important;
}
